/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FF-Design-Library-primary: mat-palette($mat-indigo);
$FF-Design-Library-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FF-Design-Library-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$FF-Design-Library-theme: mat-light-theme($FF-Design-Library-primary, $FF-Design-Library-accent, $FF-Design-Library-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($FF-Design-Library-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
    width: 100%;
}

@import "../projects/design-lib/src/lib/variables.scss";
@import "../projects/design-lib/src/lib/typography.scss";

.mat-flat-button {
  line-height:1.5;
  margin-right: 8px;
  padding: 11px 24px;
  transition: background-color 0.3s ease-in-out;
  ::ng-deep .mat-button-wrapper {
    @extend %roboto-bold;
    font-size: 16px;
    /*color: $color-blue;*/

    .btn-icon {
      vertical-align: top;
      margin-right: 4px;
    }

    .btn-dropdown {
      vertical-align: top;
      position: relative;
      right: -8px;
    }
  }
  &.mat-primary {
    background-color: $color-blue;
    &:hover {
      background-color: $color-Darkblue;
    }
    ::ng-deep .mat-button-wrapper {
      color: $color-white;
    }
  }
  &.mat-text-gray {
    ::ng-deep .mat-button-wrapper {
      color: $color-tbody-border;
    }
  }
  &.mat-green {
    background-color: $color-green;
    &:hover {
      background-color: darken($color-green, 10);
    }
    ::ng-deep .mat-button-wrapper {
      color: $color-white;
    }
  }
  &.mat-black {
    background-color: $color-black;
    &:hover {
      background-color: darken($color-black, 10);
    }
    ::ng-deep .mat-button-wrapper {
      color: $color-white;
    }
  }
  &:focus {
    outline: none;
  }

  &.medium {
    padding: 6px 20px;
  }

  &.small {
    padding: 5px 20px;
    ::ng-deep .mat-button-wrapper {
      font-size: 12px;
    }
  }
}

.mat-flat-button[disabled][disabled] {
 background-color: $color-Lightgray;
  ::ng-deep .mat-button-wrapper {
    color: $color-Disablegray;
  }
}


.mat-stroked-button {
  margin-right: 8px;
  line-height:1.5;
  padding: 8px 20px;
  border-width: 2px;
  transition: border-color 0.3s ease-in-out;
  ::ng-deep .mat-button-wrapper {
    @extend %roboto-bold;
    font-size: 16px;
    color: $color-blue;

    .btn-icon {
      vertical-align: top;
      margin-right: 4px;
    }

    .btn-dropdown {
      vertical-align: top;
      position: relative;
      right: -8px;
    }
  }

  &.mat-primary {
    border-color: $color-blue;
    &:hover {
      border-color: $color-Darkblue;
    }
  }
  &.medium {
    padding: 6px 20px;
  }

  &.small {
    padding: 5px 20px;
    ::ng-deep .mat-button-wrapper {
      font-size: 12px;
    }
  }
  &:focus {
    outline: none;
  }
}

.mat-stroked-button[disabled][disabled] {
  border-color: $color-Lightgray;
  ::ng-deep .mat-button-wrapper {
    color: $color-Disablegray;
  }
}

.mat-icon-button {
  transition: color 0.3s ease-in-out;
  &.mat-primary {
    color: $color-blue;
    &:hover {
      color: $color-Darkblue;
    }
  }
  &.mat-error {
    color: $color-red;
    &:hover {
      color: darken($color-red, 10);
    }
  }
  &.mat-green {
    color: $color-green;
    &:hover {
      color: darken($color-green, 10);
    }
  }
  &.mat-warning {
    color: $color-yellow;
    &:hover {
      color: darken($color-yellow, 15);
    }
  }
  &.mat-gray {
     color: $color-gray;
     &:hover {
       color: darken($color-gray, 15);
     }
  }
  &.big {
    width: 52px;
    height: 52px;
    line-height: 52px;
    .mat-icon {
      line-height: 36px;
      width: 36px;
      height: 36px;
      font-size: 36px;
    }
  }
  &:focus {
    outline: none;
  }
}

.mat-fab {
  width: 80px;
  height: 80px;
  ::ng-deep .mat-button-wrapper {
    .mat-icon {
      line-height: 36px;
      width: 36px;
      height: 36px;
      font-size: 36px;
    }
  }
}

.mat-fab, .mat-mini-fab {
  box-shadow: none;
  margin-right: 8px;
  transition: background-color 0.3s ease-in-out;
  &:not([disabled]):active:not([class*='mat-elevation-z']) {
    box-shadow: none;
  }
  &.mat-primary {
    background-color: $color-blue;
    &:hover {
      background-color: $color-Darkblue;
    }
  }
  &:focus {
    outline: none;
  }

  &.outline {
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
    &.mat-primary {
      border: 1px solid $color-blue;
      &:hover {
        background-color: transparent;
        border-color: $color-Darkblue;
      }
      ::ng-deep .mat-button-wrapper {
        .mat-icon {
          color: $color-blue;
        }
      }
    }
  }
}

.simple-link {
  color: $color-Skyblue;
  text-decoration: underline;
  font-size: 16px;
  @extend %roboto-regular;
  vertical-align: middle;
  display: inline-block;

  .material-icons {
    vertical-align: top;
    margin-right: 4px;
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}